<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head> 
 
 
 
 <!-- 
<input type="text" [(ngModel)]= "title">
<br>
{{title | titleCase}}

-->

<!-- 
<app-panel>

    <ng-container class="heading"> Heading </ng-container>>
    <div class="body">
        <h2>Body</h2>
        <p>
            Some content here....
        </p>
    </div>


</app-panel>



<favourite [isFavourite]="post.isFavourite" (change)="onFavouriteChanged($event)"></favourite>


<like

    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"

></like>


<span> {{task.assignee}} </span>

<input type="text" [appInputFormate]= "'uppercase'" >


<signup-form></signup-form>

<password-reset-form></password-reset-form>

<posts></posts>

<github-followers></github-followers>

<router-outlet></router-outlet>

<button (click)="ngOnDestroy" > Go Offline</button>
-->
<input type="text" (keyup.enter)="add(course)" #course>
<ul>
    <li *ngFor="let course of courses$ | async">
        {{course}}
        <button (click)="update(course)">Update</button>
        <button (click)="delete(course)">delete</button>
    </li>
</ul>